@import "tailwindcss";

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url("./assets/herobg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@utility violet-gradient {
  background: linear-gradient(to bottom, #915eff 0%, #000000 100%);
}

@layer components {
  main {
    @apply w-full overflow-x-hidden;
  }

  #hero {
    h1 {
      @apply md:text-5xl text-4xl font-bold text-white;
    }
    span {
      @apply text-[#915eff];
    }
    p {
      @apply text-white text-xs md:text-lg;
    }
  }
}
